<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>TEST</title>
	<link rel="stylesheet" type="text/css" href="http://sc.ec.nccu.edu.tw/theme/style.css"/>
</head>
<body>
<div id="wrap">
  <div id="head">
    <div id="left">
      <h1>Site Name</h1>
        <h3>Slogan thingy xD</h3>
    </div>
    <div id="right">
      <form action="#" method="get">
        <input name="q" class="box" type="text"/><input type="submit" class="button" value="Search" />
      </form>
    </div>
  </div>
  <div id="menu">
    <ul>
      <li><a href="#">Link #1</a></li>
      <li><a href="#">Link #2</a></li>
      <li><a href="#">Link #3</a></li>
    </ul>
  </div>
  <div id="content">
    <div id="sidebar">
      <h3>Menu</h3>
        <ul>
          <li><a href="#">Link #1</a></li>
          <li><a href="#">Link #2</a></li>
          <li><a href="#">Link #3</a></li>
        </ul>
        <br />
        <h3>Login</h3>
        <form action="#" method="post">
          <fieldset>
            <p class="form">Username:</p>
              <input name="username" id="user" type="text"/>
            <p class="form">Password:</p>
              <input name="password" id="pass" type="password"/>
              <input name="login" type="submit" value="Login"/>
          </fieldset>
        </form>
    </div>
    <div id="main">
      <h1>&lt;h1&gt; Example</h1>
        <p>This template was made by aldo of <a href="http://mschat.net">MS Chat</a>. You are free to use it however you want. All I ask of you is that you leave the link back to me to <a href="http://mschat.net">MS Chat</a>, Thanks! And enjoy the template!</p>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus vitae sapien. Duis leo quam, blandit at, elementum vel, euismod egestas, nibh. Vivamus nec lectus vitae mi ullamcorper adipiscing. Duis nulla. Fusce aliquam viverra nibh. Sed id elit non ipsum pellentesque imperdiet. Ut vitae sem ut libero euismod tempor. Nunc lobortis.</p>
      <br />
      <h3>&lt;h3&gt; Example</h3>
        <ul>
          <li>Example</li>
          <li>of a</li>
          <li>&lt;ul&gt; list</li>
        </ul>
        <br />
        <ol>
          <li>Example</li>
          <li>of a</li>
          <li>&lt;ol&gt; list</li>
        </ol>      
        <br />
        <h3>&lt;blockquote&gt;</h3>
          <blockquote>
            Looky here!<br />
            Its a Blockquote! XD
          </blockquote> 
    </div>
    <div class="break">
    </div>
    <div id="foot">
      <p class="foot">Copyright &copy; 2008 of Your Site | <a href="http://validator.w3.org/check/referer" target="_blank">XHTML 1.0</a> | <a href="http://jigsaw.w3.org/css-validator/check/referrer">CSS</a> | <a href="http://mschat.net" title="Template by MS Chat">MS Chat</a></p>
    </div>
    <div id="space">
    </div>
  </div>
</div>
</body>
</html>